<div class="person">
    <div class="box-left">
        <img src="http://localhost:4600/images/{{@fooddata.image}}">
    </div>
    <div class="box-right">
        
         <h5><i>{{@fooddata.name}}</i></h5>
         <h5><i>{{@fooddata.type}}</i></h5>
         <h5><i>{{@fooddata.price}}</i></h5>
         <h5><i>{{@fooddata.description}}</i></h5>
         <h5><i>{{@fooddata.qty}}</i></h5>  
    </div>
    
</div>